<nav class="fixed top-0 left-0 z-40 w-full h-16 bg-white border-b border-default shadow-md">
      <div class="flex items-center justify-between h-full px-6 gap-6">
       <%= link_to root_path, class: "flex items-center ps-2.5 gap-2" do %>
      <i class="fa-solid fa-images text-blue-500 text-2xl"></i>
      <span class="self-center text-xl text-heading font-bold whitespace-nowrap text-blue-900 py-4 font-bold">GalleryPro</span>
    <% end %>
        <% if current_user %>
           <div class="flex items-center justify-center gap-2">
    <span class=" font-bold text-lg text-blue-900 mt-4 mr-4 hidden md:inline">Hi, <%= current_user.name %>!</span>
    <%= button_to "Logout",
        destroy_user_session_path,
        method: :delete,
        data: { turbo: false },
        class: "bg-red-500 text-white rounded-lg px-4 py-2 hover:text-white transition" %>
    </div>
        <% else %>
          <%= link_to "Login",
              new_user_session_path,
              class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg font-medium" %>
        <% end %>
      </div>
    </nav>